.main{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 51px;
  margin-bottom: 50px;
  padding-top: 15px;

}

.span-tittle{
	min-height: 66px;
}

.span-sub-tittle{
	min-height: 30px;
}

.span-mensaje{
	min-height: 5px;
}


.span-content{
  padding:  50px;
}

.site-footer{
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 28px;
  color: #9D9D9D;
  padding: 0 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#383838));
  background: -webkit-linear-gradient(#505050, #383838);
  background: linear-gradient(#313131, #000000);
  border-top: 1px solid black;
  -webkit-box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);
  z-index: 5001;
}
.transEventos{
    background-color: #FFFFFF;
    opacity: 0.75;
	padding-top: 5px;
    width: 450px;
	border: solid 2px #FFFFFF;
	height: auto;	
	border-width: 2px;
	border-radius: 4px;
	border-color: #000000;
	text-align: center;
}

.footer-right{
  box-sizing: border-box;
  color: #FFF;
  display: block;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: absolute;
  right: 10px;
  top: 0px;
  width: 289.421875px;
  z-index: 1;
}

.footer-word-links{
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 289.421875px;
}

a.footer {
  color: #9D9D9D;
  text-decoration: none;
}
a.footer:hover,
a.footer:focus {
  color: #ffffff;
}

a.footer:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

ul.items{
  list-style: none;
}
#userPhoto{
  width: 50px;
  height: 50px;
}
div.eventosElem{
  padding-bottom: 40px;
}

#comentario{
  border-width: 1px;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  height: 100px auto;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#comentario p{
  margin-top: 0px;
  margin-bottom: 0px;
}

#fotoAsistente{
  border-width: 1px;
  border-radius: 8px;
  border-color: green;
  border-style: solid;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  text-align: center;
}

.imgAsistentes{
  max-height: 99px;
  max-width: 99px;
}

div#alCenter {
  margin: 0 auto;
  text-align: center;
}


div#alCenter img{
  margin: 25px auto;
}

div#abCenter p{
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
}

#notificationLink{
  margin-right: 10px;
}
[data-notifications] {
  position: relative;
}

[data-notifications]:after {
  content: attr(data-notifications);
  position: absolute;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: -15px;
  top: -15px;
}

#papelera{
text-align: right;
}

.notificaciones{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: 2px solid grey;
  padding : 10px;
}

.notificaciones p{
  margin-top: 5px;
  margin-bottom: 5px;

}

#scrollTitle{
  color: white;
  margin-left: 85px;
}

#loadButton{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#contenidoPrincipal{
  background-color: white;
  opacity: 0.7;
  padding-bottom: 25px; 
}

form.mForm{
   border-top: 1px solid #ccc;
   margin-top: 30px;
}

form.mForm input{
   border-top: 1px solid #ccc;
   margin-top: 10px;
   margin-bottom: 10px;
}
p.mHeader{
  border-bottom: 1px solid #ccc;
}
.misMensajes{
  text-align: right;
  border-width: 1px;
  border-radius: 8px;
  border-color: green;
  border-style: solid;
}
.eventosElem{
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-right{
  display: inline-block;
  min-width: 700px;
  /*line-height: 50px;*/
}

#ajaxgif{
  margin-left: 75px;
}
#loadgif{
  text-align: center;
}