h3{
	color: #000000;
}

h2{
	color: #00FFFF;
}

#contenido{
	margin: 30px;
	float: center;
	text-align: center;
	color: #000000;
	font-size: 16px;
	font-family: calibri;
}

.trans {
    background-color: #FFFFFF;
    opacity: 0.65;
	padding-top: 5px;
    width: 150px;
	border: solid 2px #FFFFFF;
	height: auto;	
}

.imgEventos{
	max-height: 400px;
	max-width: 320px;
}

#fotoPerfil{
  border-width: 3px;
  border-radius: 8px;
  border-color: #00FFFF;
  border-style: solid;
  max-height: 200px;
  max-width: 180px;
  text-align: center;
}

.imgPerfil{
  max-height: 194px;
  max-width: 174px;
}

#barra-lateral-izq{
	margin: 10px;
	float: left;
	text-align: center;
	color: #00FFFF;
	padding: 10px;
	font-size: 18px;
	font-family: calibri;
}

#barra-lateral-dcha{
	left: 1200px;
	margin: 10px;
	margin-right: 20px;
	float: right;
	text-align: center;
	color: #000000;
	padding: 10px;
	font-size: 18px;
	font-family: calibri;
}

