body{
	background: url("../img/login.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#login-caja{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;	
	border-radius: 7px;	
	height: 250px;
	width: 380px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

#login-botones{
	position:relative;
	padding: 10px;
	text-align: center;
}

#login-opciones{
	position: relative;
	text-align: center;
	padding:10px;
}

#login-caja-texto{
	position: relative;
	padding-left: 27px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.btn-login {
  	border-radius: 7px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 14px;
  	background: #00BFA5;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.btn-login:hover {
  background: #26A69A;
}

.btn-login:active {
	position:relative;
	top:1px;
}

#formularioRegistro{
position:relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;	
	border-radius: 7px;	
	height: 490px;
	width:390px;
	padding-bottom: 5px;
	background-color: #ffffff;
}

#formulario-caja-texto{
	position: relative;
	padding-left: 27px;
	padding-right: 10px;
	padding-bottom: 20px;
}

#nombresFormulario {
 position:relative;
 text-align: left;
 float: left;
 width: 180px;
 Line-height: 24px;
 padding: 10px;
}

#cuadrosFormulario{
 position:relative;
 text-align: left;
 float: left;
 width: 180px;
 Line-height:25px;
}

#cuadrosFormularioMensaje{
 position:relative;
 text-align: left;
 float: left;
 width: 600px;
 Line-height:15px;
}

#cuadrosFomularioPerfil{
 position:relative;
 text-align: left;
 float: left;
 width: 600px;
 Line-height: 25px;
}

#tituloFormulario{
text-align:center;
}

#formularioPago{
	position:relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;	
	border-radius: 7px;	
	height: 350px;
	width:390px;
	padding-bottom: 5px;
	background-color: #ffffff;
}

.menu{
	padding: 0;
	margin: 0;	
}
.menu #einfo{
	list-style-type: none;
}

#wrapper{
	width: 1000px;
	margin: auto;
	background-color: #DFD3B6;
}

header{
	padding: 30px;
	height: 50px;
	background-color: #A8C545;
}
#logo{
	
	text-align: left;

}
.buttons{
	text-align: center;
	padding: 0;
	font: 14px Arial;
	font-weight: bold;
	list-style-type: none;

}
.buttons a:hover{
	background-color: #000000;
}
.buttons a{
	min-width: 100px;
	padding: 05px 20px;
	border: 1px solid #aaa;
	background-color: #283593;
	color: #ffffff;
	text-decoration: none;
}

#content{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: relative;
 	width: 500px;
 	background-color: #DFD3B6;

}

footer{
	clear: both;
 	text-align: center;
 	height: 70px;
 	background-color: #A8C545;
}
footer span a{
	text-decoration: none;
	color: #5F5448;
}
form{
	text-align: center;
}

#politicas{
color: #ffffff;
text-align: center;
}

#separacionLineas{
Line-height: 10px;
}

#cabecera{
position:relative;
text-align: center;
background-color: #FF9100;
border-radius: 7px;	
}

#centrado{
text-align:center;
}

h1{
	color: #00FFFF;
}

h2{
	color: #00FFFF;
	text-align: center;
}

h3{
	color: #00FFFF;
	text-align: center;
}

p1{
	color: #FFFFFF;
}

#info-usuario{
	position: fixed;
	margin: 10px;
	float: left;
	text-align: center;
	color: #00FFFF;
	padding:10px;
	font-size: 14px;
	font-family: Arial;
}

#amigos-usuario{
	position: fixed;
	left: 1200px;
	margin: 10px;
	margin-right: 30px;
	float: right;
	text-align: center;
	color: #00FFFF;
	padding:10px;
	font-size: 14px;
	font-family: Arial;
}

#eventos-usuario{
	margin: 30px;
	float: center;
	text-align: center;
	color: #00FFFF;
	font-size: 14px;
	font-family: Arial;
}

#vu-contenedor {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 1200px;
    margin: auto;
    position: absolute;
	background-color: #00BFA5;
	text-align: center;
}
#vu-cabecera {
	background-color: #00BFA5;
    height: 175px;
}

#pu-cabecera {
    height: 175px;
}
#vu-barra-izquierda {
    float: left;
    min-height: 810px;
    width: 190px;
    background-color: #00BFA5;
	text-align:center;
}
#vu-barra-derecha {
    float: right;
    min-height: 810px;
    width: 190px;
	background-color: #00BFA5;
	text-align:center;
}
#vu-imp-contactos {
    margin: 10px;
    padding: 10px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 2px;
}
#vu-twitter {
    margin: 10px;
    padding: 10px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 2px;
}
#vu-contenido {
    background-color: #ffffff;
    float: left;
    min-height: 600px;
    width: 820px;
}
#vu-contenido-izq {
    margin-left: 35px;
    float: left;
    padding: 10px;
    width:350px;
    text-align: center;
}
#vu-contenido-der {
    float: left;
    padding: 10px;
    width: 350px;
    text-align: center;
}
.vu-imp-contactos-gmail {
    font-size: 11px;
}
#vu-footer {
}
.btn {
    padding: 20px;
    text-align: center;
    max-height: 40px;
    min-width: 150px;
    float: left;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #00BFA5;
    text-decoration: none;
}
.btn:hover {
    background: #26A69A;
}

a.twitter-share-button, a.twitter-mention-button, a.twitter-hashtag-button {
    display: inline-block;
    padding: 1px 3px 0 19px;
    border: #ccc solid 1px;
    border-radius: 3px;
    background: #f8f8f8 url(imagenes/bird.png) 2px 3px no-repeat;
    background: url(imagenes/bird.png) 2px 3px no-repeat, -webkit-linear-gradient(#fff, #dedede);
    background: url(imagenes/bird.png) 2px 3px no-repeat, linear-gradient(#fff, #dedede);
    background-size: 16px 13px, auto auto;
    /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    white-space: nowrap;
}
/* Color Highlight for keyboard navigation */
 a.twitter-share-button:focus, a.twitter-mention-button:focus, a.twitter-hashtag-button:focus {
    outline: none;
    border-color: #0089cb;
}

#a{
float:left;
}

#contenedor {	
	width: 900px;
	margin:auto;
	margin-top: 30px;
}

#sidebar-left {
	padding: 10px;
	height: 400px;
	width: 300px;
	float:left;
}
